@media  (max-width: 767px){
    .content{
        display: grid;
        grid-template-columns: repeat(1fr, 1fr);
        grid-auto-rows: minmax(75px, auto);    }

#A {
    grid-column: span 2;
    line-height: 75px;
}

#B {
    grid-column: span 2;

    line-height: 125px;
}
#C {
    grid-column: span 2;
    line-height: 125px;
}
#D  {
    grid-column: span 2;

    line-height: 125px;
}
#E  {
    grid-column: span 1;
        line-height: 250px
}
#F  {
    grid-column: span 1;
    line-height: 250px;
}
#G  {
    grid-column: span 1;
    line-height: 250px
}
#H  {
    grid-column: span 1;
    line-height: 250px
}

#p
{
    grid-column: span 2;
    clear: both;
    line-height: 70px
}
}

@media  (min-width: 960px){
    .content{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: minmax(75px, auto)
    }
    #A {
        grid-column: span 5;
        line-height: 75px;
    }
    
    #B {
        grid-column: span 1; 
        line-height: 75px;
        grid-row: span 3;
    }
    #C {
        grid-column: span 2;
        line-height: 125px;
    }
    #D  {
        grid-column: span 2;
        line-height: 125px;
    }

    #E  {
        grid-column: span 1;
        line-height: 250px
    }
    #F  {
        grid-column: span 1;
         line-height: 250px;
    }
    #G  {
        grid-column: span 1;
        line-height: 250px
    }
    #H  {
        grid-column: span 1;

        line-height: 250px
    }
    #p
{
    grid-column: span 4;
    line-height: 70px
}

}

@media (min-width:768px) and (max-width: 959px){
    .content{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: minmax(75px, auto)
    }
    #A {
        grid-column: span 5;
        line-height: 75px;
    }
    
    #B {
        grid-column: span 1; 
        line-height: 75px;
        grid-row: span 3;
    }
    #C {
        grid-column: span 2;
        line-height: 125px;
    }
    #D  {
        grid-column: span 2;
        line-height: 125px;
    }

    #E  {
        grid-column: span 1;
        line-height: 250px
    }
    #F  {
        grid-column: span 1;
         line-height: 250px;
    }
    #G  {
        grid-column: span 1;
        line-height: 250px
    }
    #H  {
        grid-column: span 1;

        line-height: 250px
    }
    #p
{
    grid-column: span 4;
    line-height: 70px
}

}
