@media (max-width: 767px){
   
#A {
   
    background-color:hotpink;
}

#B {

    background-color:darkgoldenrod
}
#C {
    
    background-color: aqua;
}
#D  {
    
    background-color: blueviolet
}
#E  {
    
    background-color: cadetblue;
}
#F  {
    
    background-color: brown;
}
#G  {
    background-color:crimson;
}
#H  {
    background-color:gold;
}

#p
{
    background-color:darksalmon;
}
}

@media  (min-width: 960px){
    #A {
        background-color: blueviolet;
    }
    
    #B {
        background-color:darkgoldenrod
    }
    #C {
        background-color: aqua;
    }
    #D  {
        background-color:hotpink;
    }

    #E  {
        background-color: cadetblue;
    }
    #F {
        background-color: brown;
    }
    #G  {
        background-color: orangered;
    }
    #H  {
        background-color: brown;

    }
    #p
{
    background-color:darksalmon;
}

}

@media  (min-width:768px) and (max-width: 959px){
    #A {
        background-color: blueviolet;
    }
    
    #B {
        background-color:darkgoldenrod
    }
    #C {
        background-color:green;
    }
    #D  {
        background-color:crimson;
    }

    #E  {
        background-color: cadetblue;
    }
    #F {
        background-color: brown;
    }
    #G  {
        background-color:gold;
    }
    #H  {
        background-color: brown;

    }
    #p
{
    background-color:indigo;
}

}